<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noblara - Noblesse Nusantara</title>
  </head>
  <body>
    <header>
        <nav-bar></nav-bar>
    </header>
    <main>
        <section class="hero-element">
            <h1>Noblara</h1>
            <p>"Eksklusif, fusion makanan Nusantara dengan nuansa modern dan cita rasa istimewa."</p>
            <img src="./images/heros/hero-image_2.jpg" width="450" alt="" />
        </section>
        <section class="rest-card" id="main-content">
            <div class="rest-title">

            </div>
            <rest-list></rest-list>
        </section>
    </main>
    <footer>
        <p>Copyright &copy; 2024 - Noblara by <a href="https://github.com/seoeka" target="_blank" rel="noopener noreferrer">@seoeka</a></p>
    </footer>
  </body>
</html>