@import 'root';

*, body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

#logo {
  height: 40px;
}

#hamburger {
  display: none;
}

nav, .nav-content {
  display: flex;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 10;
  transition-duration: 300;
}

.nav-content {
  width: inherit;
  margin: auto;
  align-items: center;
  padding: 20px 108px;
  justify-content: space-between;
}

.nav-list {
  display: inline-flex;
  gap: 20px;
}

.nav-list > a {
  background-color: $primary;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-list > a:hover {
  background-color: lighten($primary, 10%);
}

.hero-element {
  display: flex;
  position: relative;
  height: 420px;
  overflow: hidden;
}

.darker-img {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%);
}

#hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-caption {
  inset: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 0 108px;
  margin: auto;
  font-size: 24px; 
  font-weight: 600; 
  word-wrap: break-word;
  margin-bottom: 50px;
  justify-content: end;
}

.caption {
  width: 530px;
}

.rest-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 40px 108px;
}

.rest-head > h2,
.rest-head > p {
  color: black;
}

.rest-head > p {
  font-size: large;
}

.rest-list {
  display: grid;
  padding: 0 108px;
  width: 340px;
}

.rest-img, .rest-img > img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.rest-img {
  display: flex;
  position: relative;
  overflow: hidden;
}

.rest-img > img {
  object-fit: cover;
  height: 180px;
  width: 340px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.rest-img > img:hover {
  transform: scale(1.1);
  filter: brightness(110%) contrast(110%);
}

.rest-img > p {
  inset: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 4px 20px;
  background-color: $primary;
  width: fit-content;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  justify-content: start;
  margin-top: 20px;
  height: fit-content;
}

.rest-cont {
  background-color: $tertiary;
  padding: 15px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.rest-cont > .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  margin-bottom: 10px;
}

.rating, .desc, .rest-head,
.rest-img > p {
  cursor: default;
}

.rest-cont > p {
  font-size: 14px;
  height: 80px;
  text-align: justify;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

main {
  display: flex;
  flex-direction: column;
}

.foot-co {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  background-color: $secondary;
  padding: 20px 0 30px 0;
  gap: 10px;
}

.foot-co > img {
  height: 50px;
  width: 200px;
}
