@import 'root';

*, body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

#logo {
  height: 44px;
}

.hero-caption, .rest-img > p, .rest-img {
  display: flex;
}

.skip-link {
  display: flex;
  position: absolute;
  top: 25px;
  left: -100vh;
  background-color: $primary;
  border-radius: 5px;
  height: 44px;
  padding: 0 20px;
  transition: all 0.3s ease-in-out;
  justify-content: center;
  align-items: center;
  z-index: 101;

  &:focus{
    left: 10px;
  }
}

main {
  display: flex;
  flex-direction: column;
}

main.blurred, footer.blurred{
  filter: blur(5px);
  transition: all 0.3s ease-in-out;
}

#hamburger {
  position: relative;
  font-size: 24px;
  min-width: 44px;
  min-height: 44px;
  color: white;
  border: none; 
  background-color: transparent;
  cursor: pointer;
  z-index: 99;
  text-align: right;
}

.hero-caption, 
.rest-img > p {
  flex-direction: column;
}

nav {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  .nav-content {
    display: flex;
    width: inherit;
    align-items: center;
    padding: 20px 15px;
    justify-content: space-between;
  }
}

.nav-list{
  display: none;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  height: 100vh;
  width: 60%;
  margin: auto;
  background-color: $secondary;
  animation: fade 0.3s ease-in-out;
      @keyframes fade {
        from{
          opacity: 0;
          transform: translate(50vw, 0);
        }
        to{
          opacity: 1;
          transform: translate(0, 0);
        }
      }
      a {
        padding: 11px 20px;
        text-align: center;
        border-radius: 5px;
        background-color: $primary;
        transition: background-color 0.3s ease;
      
        &:hover {
          background-color: lighten($primary, 10%);
        }
      }      
}

.nav-list.show{
  display: flex;
  position: absolute;
}

.hero-element {
  display: flex;
  position: relative;
  height: 420px;
  overflow: hidden;
}

.darker-img {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%);
}

#hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-caption {
  inset: 0;
  position: absolute;
  font-size: 24px; 
  font-weight: 600; 
  padding: 0 15px;
  margin: auto;
  word-wrap: break-word;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-caption .caption {
  white-space: normal;
}

.rest-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 15px;
}

.rest-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
  text-align: center;
  h2, p {
    color: black;
  }
  p {
    font-size: large;
  }
}

.rest-list {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 28px 20px;
  margin-bottom: 40px;
}

.rest-item {
  max-width: 360px;
  transition: transform ease 0.3s, filter ease 0.3s;
  &:hover {
    transform: translateY(-10px); 
    filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.3));
  }
}
.rest-img, .rest-img > img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.rest-img {
  position: relative;
  overflow: hidden;
  img {
    object-fit: cover;
    height: 180px;
    width: 360px;
    transition: transform 0.3s ease, filter 0.3s ease;
    &:hover {
      transform: scale(1.1);
      filter: brightness(110%) contrast(110%);
    }
  }
  p {
    inset: 0;
    position: absolute;
    padding: 4px 20px;
    height: fit-content;
    width: fit-content;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-content: start;
    margin-top: 20px;
    background-color: $primary;
  }
}

.rest-cont {
  background-color: $tertiary;
  padding: 5px 20px 15px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    h3 {
      a{
        color: #fff5f1e7;
        transition: color 0.3s ease;
        display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 46px;
        max-width: 100%;
        &:hover{
          color: white;
        }
      } 
    }
  }
}

.rating, .desc, .rest-head,
.rest-img > p, .caption {
  cursor: default;
}

.rest-cont > p {
  font-size: 14px;
  height: 80px;
  text-align: justify;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.loader-wrapper{
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-none {
  display: none;
}

.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: $primary;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

.foot-co {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  background-color: $secondary;
  padding: 20px 0 30px 0;
  gap: 10px;
  img {
    height: 50px;
    width: 200px;
  }
  p > a:hover{
    color: gold;
  }
}